.gitignore
BackEnd/campusin/.gradle/
BackEnd/campusin/.idea/
BackEnd/campusin/HELP.md
BackEnd/campusin/out/
BackEnd/campusin/src/main/resources/
BackEnd/campusin/src/test/
BackEnd/campusin/toH2.sh
BackEnd/campusin/build/
BackEnd/campusin/src/main/java/com/example/campusin/api/.DS_Store